---
layout: default
---


<div id="page-wrap">
    <div id="full-screen-container">
        <div id="grid-wrap">
            <div id="row-1">
                <div id="advertisements-container">
                    {% include advertisements.html %}
                </div><!--
                --><div id="video-container">
                    {% include video.html %}
                </div>
            </div>
            <div id="row-2">
                <div id="banner-container">
                    {% include banner.html %}
                </div>
            </div>
        </div>
    </div>
</div>
