{% for ad in site.data.settings.advertisements  %}
    {% if forloop.first == true %}
        <div class="advertisement-wrapper card active">
            <h2>{{ad.title}}</h2>
            <div class="product-image" style="background-image: url('{{site.baseurl}}/assets/img/{{ad.image-name}}')"></div>
            <hr />
            <h4>{{ad.description}}</h4>
        </div>
    {% else %}
        <div class="advertisement-wrapper card">
            <h2>{{ad.title}}</h2>
            <div class="product-image" style="background-image: url('{{site.baseurl}}/assets/img/{{ad.image-name}}')"></div>
            <hr />
            <h4>{{ad.description}}</h4>
        </div>
    {% endif %}
{% endfor %}


