#advertisement-wrapper
	display: inline-block
	position: relative
	height: auto
	width: 100%
	text-align: center
	/*+transform(translateX(15%))*/

	img
		margin-left: 50%
		+transform(translateX(-50%))